{ pkgs, ... }: pkgs.writeText "style.css" ''
  * {
      font-family: "JetBrains Mono";
      font-size: 14px;
  }

  window#waybar {
      background: transparent;
      border: 2px;
  }

  /* standalone segment */
  #pulseaudio,
  #network,
  #cpu,
  #memory,
  #temperature,
  #battery,
  #clock {
      padding: 0 10px;
      margin: 6px 3px;
      border-radius: 4px;
      border: 1px solid ${background};
      font-weight: bold;
      background-color: ${background};
      color: ${foreground};
      transition: opacity .3s ease-out;
      opacity: 1;
  }

  #custom-coretemp,
  #language,
  #network,
  #bluetooth,
  #cpu {
      margin-right: 0px;
      padding-right: 3px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
  }

  #temperature,
  #network,
  #pulseaudio,
  #memory {
      margin-left: 0px;
      padding-left: 3px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
  }

  #cpu {
      padding-right: 0;
  }

  #mode {
      border-color: transparent;
      background-color: transparent;
      color: ${background};
  }

  #workspaces button {
      transition: background-color .3s ease-out;
  }

  #workspaces button.focused {
      color: ${background};
      background-color: ${foreground};
  }

  #battery.warning {
      border-color: #EF6C00;
      background-color: #EF6C00;
      color: white;
  }
  #battery.critical {
      border-color: #F44336;
      background-color: #F44336;
      color: white;
  }
  #battery.charging {
      background-color: #4EFF63;
      border-color: #4EFF63;
      color: white;
  }
''
